@{
    Layout = null;
    var title = ViewData["Title"] ?? "Iniciar Sesión";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>

   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
