@model FrontendProyecto.Pages.Admin.Reconocimientos.ReconocimientoInput
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    var usuarioOptions = ViewData["UsuarioOptions"] as List<SelectListItem> ?? new();
    var actividadOptions = ViewData["ActividadOptions"] as List<SelectListItem> ?? new();
    var esEdicion = (bool)(ViewData["EsEdicion"] ?? false);
}

<div class="row g-3">
    @if (esEdicion)
    {
        <div class="col-12">
            <label class="form-label">Código de verificación</label>
            <input class="form-control" asp-for="CodigoVerificacion" readonly />
        </div>
    }

    <div class="col-md-6">
        <label class="form-label">Voluntario</label>
        <select class="form-select" asp-for="IdUsuario" asp-items="usuarioOptions">
            <option value="">-- Seleccione --</option>
        </select>
        <span class="text-danger" asp-validation-for="IdUsuario"></span>
    </div>

    <div class="col-md-6">
        <label class="form-label">Actividad</label>
        <select class="form-select" asp-for="IdActividad" asp-items="actividadOptions">
            <option value="">-- Seleccione --</option>
        </select>
        <span class="text-danger" asp-validation-for="IdActividad"></span>
    </div>

    <div class="col-md-6">
        <label class="form-label">Fecha de emisión</label>
        <input class="form-control" asp-for="FechaEmision" type="date" />
        <span class="text-danger" asp-validation-for="FechaEmision"></span>
    </div>
</div>
