@using FrontendProyecto.Pages.Admin.Ongs
@model OngInput

<div class="mb-3">
    <label class="form-label">Nombre</label>
    <input class="form-control" asp-for="NombreOng" required />
    <span asp-validation-for="NombreOng" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label">Descripción</label>
    <textarea class="form-control" asp-for="Descripcion" rows="3"></textarea>
    <span asp-validation-for="Descripcion" class="text-danger"></span>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Dirección</label>
        <input class="form-control" asp-for="Direccion" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div class="col-md-3 mb-3">
        <label class="form-label">Teléfono</label>
        <input class="form-control" asp-for="Telefono" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    
</div>
