@page
@model CoordEmisionIndexModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Coordinador")]
@{
    ViewData["Title"] = "Emisión";
}
<div class="container"><h2>@ViewData["Title"]</h2><p>Emite certificados/carnets según tus permisos.</p></div>
